<% include ../partials/header %>

<div class="page index">

<header>
    <h1>Your Search</h1>
    <p class="gray-out">Choose filters for best results</p>
    <p>
        <a href="/growers/new">Add a Person/Organization</a>
    </p>
</header>

<main>
    <div class="growers-g">
        <% growers.forEach((grower) => { %>
            <div class="card">
                
                <a href="/growers/<%= grower._id %>">
                    <img class="card-hero" src="<%= './images/' + grower.image %>">
                </a>
                
                <div class="card-details-g">

                    <h2><%= grower.name %>
                    </h2>

                    <img src="./images/five-stars-429x100.png" alt="rating-stars">
                    
                    <p>
                        <%= (Math.random() * 10).toFixed(1) %> mi away
                    </p>
                    
                    <a href="#0" class="btn-general">
                        Visit Website
                    </a>
                    
                </div>
                <!-- /.card-details-g -->
            </div>
            <!-- /.card -->
        <% }); %>
        
    </div>
    <!-- /.growers-g -->
    
</main>

</div>
<!-- /.page -->
<% include ../partials/footer %>