<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add a New Grower</h1>
        <div style="width: 50%; margin: 30px auto;">

            <form action="/growers" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="newname" placeholder="grower name">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="newphoto" placeholder="photo url">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="newdescription" placeholder="description">    
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block">Add It!</button>    
                </div>
            </form>

            <a href="/growers">Go Back To Home Page</a>
        </div>        

    </div>
</div>

<% include ../partials/footer %>