</div>
<!-- /.page -->
<footer>

    <div class="colophon">
        
        <p>
            Thank you for enjoying Find Organic.
        </p>
        <p>
            &copy; 2019 Find Organic LLC
        </p>
        
    </div>
    <!-- /.colophon -->

</footer>

<script src="/scripts/script.js"></script>
</body>
</html>