<!DOCTYPE html>
<html>
<head>
    <title>Find Organic</title>
    <link href="/styles/lib/bootstrap-reboot.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body>
<div class="topstyle"></div>
<nav class="navbar-f">

    <a class="brand" href="/">Find Organic</a>
    <div id="mobile-menu">

            <div id="hamb-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        
            <ul class="nav-links hidden">
                    <li><a href="/growers">See All Growers</a></li>
                <% if(!currentUser) { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                    <li><a href="#0">Signed in as: <strong><%= currentUser.username %></strong></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
    </div>

    <div id="desktop-menu">

        <ul class="nav-links">
            <li><a href="/growers">See All Growers</a></li>
            <% if(!currentUser) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            <% } else { %>
                <li><a href="#0">Signed in as: <strong><%= currentUser.username %></strong></a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
                
    </div>
</nav>
<div class="topstyle"></div>

<div class="container">
    <% if(messageSuccess && messageSuccess.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%= messageSuccess %>
        </div> 
    <% } %>
    <% if(messageError && messageError.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= messageError %>
        </div>
    <% } %>
</div>
<div class="page">