<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find Organic</title>
    <link href="/styles/lib/bootstrap-reboot.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700|Quattrocento+Sans:400,400i,700,700i" rel="stylesheet">
</head>
<body>
<div class="top-a"></div>
<div class="top-b"></div>
<nav class="navbar-f">
    
    <a class="brand" href="/">Find Organic</a>
    
    <div id="mobile-menu">
        
        <div id="hamb-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        
            <ul class="nav-links hidden">
                    <li><a href="/">Home</a></li>
                    <li><a href="/growers">See All Growers</a></li>
                <% if(!currentUser) { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                    <li><a href="#0">Signed in as: <strong><%= currentUser.username %></strong></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
    </div>

    <div id="desktop-menu">

        <ul class="nav-links">
            <li><a href="/growers">See All Growers</a></li>
            <% if(!currentUser) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
            <% } else { %>
                <li><a href="#0">Signed in as: <strong><%= currentUser.username %></strong></a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
                
    </div>

</nav>
<div class="top-b"></div>

<div class="off-menu">

<!-- alert flash -->
<div class="flash">
    <% if(messageSuccess && messageSuccess.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%= messageSuccess %>
        </div> 
    <% } %>
    <% if(messageError && messageError.length > 0) { %>
        <div class="flash-danger" role="alert">
            <%= messageError %>
        </div>
    <% } %>
</div>
<div class="page">