<% include partials/header %>
<div class="page about">
    
<h1>About Find Organic</h1>

<p>
    Find Organic is a free service for helping every person find organic food near them.
</p>

<p>
    Search our database for people and organizations all over the world who are making organic happen.
</p>

</div>
<% include partials/footer %>