<% include partials/header %>

<div class="hero">
    <div class="greeting">

        <h1>Welcome to Find Organic</h1>
        
        <p>Find organic growers, traders, suppliers, and restaurants near you.</p>
        
        <a href="growers" class="btn-cta">Let's Go<img src="../images/arrow.png" alt="go search"></a>
        
    </div>
</div>

<% include partials/footer %>