<% include partials/header %>

<div class="hero">
    <div class="greeting">

        <h1>Welcome to Find Organic</h1>
        
        <h2>Find organic growers, traders, suppliers, and restaurants near you.</h2>
        
        <a href="growers" class="btn-cta">Go Search</a>
        
    </div>
</div>

<% include partials/footer %>