<% include partials/header %>
<div class="container page">
    
    <h1>Welcome to Find Organic</h1>
    
    <p>Welcome to Find Organic</p>
    
    <a href="growers">View All Growers</a>

</div>
<% include partials/footer %>