$mobile-and-down: 767.98px;
$tablet-desktop-and-up: 768px;
$wide-desktop-and-up: 1200px;

@mixin for-mobile {
    @media only screen
    and (max-width: $mobile-and-down) { @content; }
}
@mixin for-desktop {
    @media only screen
    and (min-width: $tablet-desktop-and-up) { @content; }
}
@mixin for-wide-desktop {
    @media only screen
    and (min-width: $wide-desktop-and-up) { @content; }
}