
// Colors ////////////////////////////////////

$green-mid: hsl(107, 30%, 48%);
$green-dark: hsl(117, 35%, 30%);

$links-dark: hsl(108, 56%, 32%);
$links-light: #fff;

$blue-bright: hsl(217, 93%, 59%);
$yellow-mustard: hsl(52, 73%, 52%);
$red-dull: hsl(13, 49%, 52%);

$btn-color: #fff;
$btn-cta-bg: $blue-bright;
$btn-edit-bg: $yellow-mustard;
$btn-delete-bg: $red-dull;


// Dimensions ////////////////////////////////////

$nav-height: 100px;
$spacer-factor: 0.5;
$top-a-height: $nav-height * $spacer-factor;
$top-b-height: $top-a-height / 2;

$hamb-icon-size: 48px;
$hamb-icon-line-size: $hamb-icon-size / 7.5;
$hamb-icon-line-spacer: ($hamb-icon-size / 7.5) * 2;
$hamb-icon-height: $hamb-icon-size * 2/3;
