
// Colors ////////////////////////////////////

$green-mid: hsl(107, 30%, 48%);
// $green-mid: hsl(205, 43%, 43%);
$green-dark: hsl(117, 35%, 30%);

$blue-bright: hsl(217, 93%, 59%);

$links-dark: hsl(108, 56%, 32%);
$links-light: white;


// Dimensions ////////////////////////////////////

$nav-height: 80px;
$top-a-height: $nav-height * 2;
$top-b-height: $top-a-height / 4;

$hamb-icon-size: 60px;
