footer {
    
}
.colophon {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // text-align: center;
    background-color: hsl(117, 35%, 30%);
    // background-color: hsl(117, 16%, 24%);
    // background-color: rgb(82, 82, 82);
    color: rgb(245, 245, 245);

    > * {
        margin: auto;
    }
}