
body {
    font-family: $ff-general, sans-serif;
    color: $black-text;
}
p {
    // font-family: $ff-general;
    margin: 1rem 0;
}
h1 {
    font-family: $ff-heading;
}
h2 {
    font-family: $ff-general;
}
h3 {}
h4 {}
h5 {}
h6 {}

a, a:link,
a:visited,
a:hover,
a:active {
    color: $links-dark;
    font-family: $ff-general;
    text-decoration: none;
}
@include for-mobile {
    p {}
    a {}
    h1 {
        font-size: 2.1rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {}
    h4 {}
    h5 {}
    h6 {}
}
@include for-desktop {
    p {}
    a {}
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.4rem;
        // font-size: 2vw;
    }
    h3 {}
    h4 {}
    h5 {}
    h6 {}
}


img {
    // width: 100%;
}

%container {
    width: 100%;
}
%button {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: bold;
    color: $btn-color;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $btn-color;
    }
    border: none;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    // line-height: 1.5;
    // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-general {
    @extend %button;
    background-color: $btn-general-bg;
    color: $btn-color !important;
}
.btn-cta {
    @extend %button;
    background-color: $btn-cta-bg;
    // border-color: $btn-edit-bg;
}
.btn-edit {
    @extend %button;
    background-color: $btn-edit-bg;
    // border-color: $btn-edit-bg;
}
.btn-delete {
    @extend %button;
    background-color: $btn-delete-bg;
    // border-color: $btn-delete-bg;
}
.flash {
    // @extend %container;
}
.flash-danger {
    background-color: tomato;
}