.page {
    // margin-top: 40px;
    // margin-bottom: 40px;
    // margin: 40px 20px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    a {
        font-weight: bold;

    }
}

.hero {
    height: 800px;
    background: center no-repeat white;
    background-size: cover;
    // background-size: 160vw;
    background-image: url('../images/30093161307_3301b46951_o_2000x1333.jpg');
    // background-image: url('//farm4.staticflickr.com/3248/5707348570_d42caf87b9_b.jpg');
    // padding: 4rem 2rem;
    @include for-mobile {
        padding: 30px 0;
        
    }
    @include for-desktop {
        padding: 5vw 2rem;

    }
}
.greeting {
    background-color: rgba(255, 255, 255, 0.698);
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    @include for-mobile {
        width: 100%;
        border-radius: 0;
    }
    @include for-desktop {
        width: 80%;
        border-radius: 10px;   
    }

    h2 {
        font-weight: 500;
        margin: 10px;
    }
}


.growers-g {
    display: grid;
    .card {
        text-align: center;
    }
    .btn {
        background-color: $blue-bright;
        color: white;
        padding: 6px 12px;
        border-radius: 5px;
    }

    @include for-mobile {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        img {
            max-width: 92%;
        }
    }
    
    @include for-desktop {
        grid-template-columns: 1fr 1fr 1fr;

        .card {
            max-width: 30vw;

            figure {
                overflow: hidden;
                // margin: 0;
            }
            img {
                // display: block;
                width: 100%;
                // margin: -10% 0;
            }
        }
    }
    
}

.show-grower {

    img {
        max-width: 100%;
    }

}