.page {
    a {
        font-weight: bold;
    }
    text-align: center;
    @include for-mobile {
        margin: 20px 0;
    }
    @include for-desktop {   
        margin: 40px 20px;
    }
}

.hero {
    background: center no-repeat white;
    background-size: cover;
    // background-size: 160vw;
    background-image: url('../images/30093161307_3301b46951_o_2000x1333.jpg');
    // background-image: url('//farm4.staticflickr.com/3248/5707348570_d42caf87b9_b.jpg');
    // padding: 4rem 2rem;
    @include for-mobile {
        padding: 80px 0;
        height: 75vh;
    }
    @include for-desktop {
        padding: 5vw 2rem;
        height: 800px;
        height: 100vh;
    }
}
.greeting {
    background-color: rgba(255, 255, 255, 0.698);
    text-align: center;
    margin: 0 auto;

    p {
        font-family: $ff-brand-subheading;
        font-weight: 400;
        color: black;
        @include for-mobile { font-size: 1.25rem; }
        @include for-desktop { font-size: 1.4rem; }
    }
    .btn-cta {
        padding: .5rem .75rem;
        @include for-mobile {
            width: 200px;
            font-size: 1.18rem;
            margin: 10px auto 10px auto;
            img {
                height: 40px;
                margin-left: 10px;
                margin-right: -5px;
            }
        }
        @include for-desktop {
            width: 220px;
            font-size: 1.3rem;
            margin: 20px auto 10px auto;
            img {
                height: 45px;
                margin-left: 10px;
                margin-right: -5px;
            }
        }
        
    }

    @include for-mobile {
        width: 100%;
        padding: 30px 30px;
        border-radius: 0;
    }
    @include for-desktop {
        width: 80%;
        max-width: $content-width;
        padding: 30px 40px;
        border-radius: 10px;   
    }
}

.page.index {
}

.growers-g {
    display: grid;

    @include for-mobile { //.growers-g
        grid-template-columns: 1fr;
        grid-gap: 50px;

        .card-hero { //.growers-g .card-hero
            min-width: 100%;
            height: 160px;
            object-fit: cover;
            object-position: 50% 50%;
        }
        // end .card-hero
    }
    @include for-desktop { //.growers-g
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5vw;
    }
    @include for-wide-desktop { //.growers-g
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1.5vw;
    }
    
    .card {
        text-align: center;

        a { color: $black-text; }
        p { margin: 0; }
        
        @include for-mobile { //.growers-g .card
            border-bottom: 1px solid $gray-light;
        }

        @include for-desktop { //.growers-g .card
            border: 1px solid $gray-light;
            border-radius: 5px;
        }
    }
    // end .card

    .card-details-g {
        display: grid;

        @include for-mobile { //.growers-g .card-details-g
            width: 95%;
            max-width: 600px;
            margin: 10px auto;

            grid-template-columns: repeat(7, 1fr) 4fr;
            &>* {align-self:center;} //vertically center each item
            *:nth-child(1) { //name
                order: 1; grid-column: 1/8; justify-self: start; text-align: left; } 
            *:nth-child(2) { //rating stars
                order: 3; justify-self: start; } 
            *:nth-child(3) { //mi away
                order: 2; justify-self: end; } 
            *:nth-child(4) { //btn visit website
                order: 4; grid-column: 5/-1; justify-self: end;}
            p {
                font-size: 0.9rem;
            }
            h2 {
                margin: 0;
            }
            img { //rating stars
                width: 10vw;
                min-width: 100px;
                max-width: 150px;
            }
            .btn-general {
                font-size: 0.9rem;
                width: 135px;
            }
        }
        @include for-desktop { //.growers-g .card-details-g
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            margin: 10px 0 20px 0;
            &>* {justify-self:center;} //horizontally center each item
            *:nth-child(1) {order:1}
            *:nth-child(2) {order:2}
            *:nth-child(3) {order:3}
            *:nth-child(4) {order:4}
            
            img { //rating stars
                display: block;
                margin: 0 auto;
                width: 12vw;
                min-width: 100px;
                max-width: 140px;
            }
            .btn-general {
                width: 135px;
            }
        }
        @include for-wide-desktop {}
    }
    // end .card-details-g
    

    .card-hero { //.growers-g .cardhero
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;

        @include for-mobile { //.growers-g .card-hero
                height: 160px;
        }
        @include for-desktop { //.growers-g .card-hero
            // overflow: hidden;
        }
        
    }
    // end .card-hero
}
// end .growers-g

.page.show-entry {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 4vw;
    text-align: left;

    main {
        margin: 30px 0;
    }
    header img {
        margin: 20px 0;
        max-width: 100%;
    }

}


.show-details-g {
    display: grid;
    // grid-template-rows: 200px 50px 50px;
    // grid-template-columns: 1fr 1fr;
    // grid-auto-flow: column;
    grid-column-gap: 10px;
    // grid-template-areas:
    //     "a b"
    //     "a b"
    //     "a b";

    .meta {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

        font-size: 0.85rem;
    }
    .buttons {
        margin-top: 10px;
        text-align: right;
    }
}

#comments {
    margin-bottom: 20px;
    
    h1 {
        font-size: 2rem;
        border-bottom: 1px solid $gray-light;
    }
}
.comment-g {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    
    .buttons > * {
        display: inline-block;
    }
}
.comment-owner {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 15px;
}
.comment-text {
    font-size: 1.2rem;
}

.page.about {
    text-align: left;
    margin: 40px 20px;
}