ul {
  list-style-type: none;
  margin-bottom: 0; }

figure {
  margin: 0; }

.hidden {
  display: none !important; }

h4 {
  font-size: 1.5em; }

a:link,
a:visited,
a:hover,
a:active {
  color: #367f24;
  font-weight: bold; }

.topstyle {
  background-color: #669f56;
  height: 20px; }

.navbar-f {
  background-color: #669f56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 30px;
  padding-right: 30px; }
  .navbar-f a:link,
  .navbar-f a:visited,
  .navbar-f a:hover,
  .navbar-f a:active {
    color: white;
    font-weight: inherit; }

.brand {
  font-size: 1.6em; }

#mobile-menu .nav-links {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end; }
  #mobile-menu .nav-links > li {
    font-size: 2em; }

@media only screen and (min-device-width: 768px) {
  #mobile-menu {
    display: none; } }

#desktop-menu .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  #desktop-menu .nav-links > li {
    font-size: 1.2em;
    margin-left: 20px; }

@media only screen and (max-device-width: 767.98px) {
  #desktop-menu {
    display: none; } }

#hamb-icon {
  float: right;
  position: relative;
  width: 60px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#hamb-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamb-icon span:nth-child(1) {
  top: 0px; }

#hamb-icon span:nth-child(2),
#hamb-icon span:nth-child(3) {
  top: 18px; }

#hamb-icon span:nth-child(4) {
  top: 36px; }

#hamb-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#hamb-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#hamb-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#hamb-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.page {
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 40px 20px; }

.growers-g {
  display: grid; }
  .growers-g .card {
    text-align: center; }
  .growers-g .btn {
    background-color: #347ff8;
    color: white;
    padding: 6px 12px;
    border-radius: 5px; }
  @media only screen and (max-width: 767.98px) {
    .growers-g {
      grid-template-columns: 1fr;
      grid-gap: 20px; }
      .growers-g img {
        max-width: 92%; } }
  @media only screen and (min-width: 768px) {
    .growers-g {
      grid-template-columns: 1fr 1fr 1fr; }
      .growers-g .card {
        max-width: 30vw; }
        .growers-g .card figure {
          overflow: hidden; }
        .growers-g .card img {
          width: 100%; } }

.colophon {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #346732;
  color: whitesmoke; }
  .colophon > * {
    margin: auto; }

/*# sourceMappingURL=style.css.map */
