ul {
  list-style-type: none; }

ul, figure, input,
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.gray-out {
  color: #d9d9d9 !important; }
  .gray-out::before {
    content: '>'; }
  .gray-out::after {
    content: '<'; }

.hidden {
  display: none !important; }

.no-scroll {
  overflow: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  color: #1a1a1a; }

p {
  margin: 1rem 0; }

h1 {
  font-family: "Magra"; }

h2 {
  font-family: "Open Sans"; }

a, a:link,
a:visited,
a:hover,
a:active {
  color: #367f24;
  font-family: "Open Sans";
  text-decoration: none; }

@media only screen and (max-width: 767.98px) {
  h1 {
    font-size: 2.1rem; }
  h2 {
    font-size: 1.2rem; } }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.8rem; }
  h2 {
    font-size: 1.4rem; } }

.flash {
  width: 100%; }

.btn-general, .btn-cta, .btn-edit, .btn-delete {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: .25rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
  .btn-general:link, .btn-cta:link, .btn-edit:link, .btn-delete:link, .btn-general:visited, .btn-cta:visited, .btn-edit:visited, .btn-delete:visited, .btn-general:hover, .btn-cta:hover, .btn-edit:hover, .btn-delete:hover, .btn-general:active, .btn-cta:active, .btn-edit:active, .btn-delete:active {
    color: #fff; }

.btn-general {
  background-color: #3580f8;
  color: #fff !important; }

.btn-cta {
  background-color: #3580f8; }

.btn-edit {
  background-color: #dec62b; }

.btn-delete {
  background-color: #c16349; }

.flash {
  position: fixed;
  top: 80px;
  text-align: center;
  z-index: 10; }

.flash-info, .flash-danger {
  display: inline-block;
  padding: 20px 40px;
  background-color: gray;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
  width: auto; }

.flash-info {
  background-color: #8a80ff; }

.flash-danger {
  background-color: #dec62b; }

.top-a {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #669f56; }

.top-b {
  height: 20px;
  width: 100%;
  background-color: #669f56; }

.navbar-f {
  background-color: #669f56;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  @media only screen and (min-width: 768px) {
    .navbar-f {
      padding: 0 40px; } }
  @media only screen and (max-width: 767.98px) {
    .navbar-f {
      padding: 0 20px; }
      .navbar-f.open {
        z-index: 11; } }
  .navbar-f a:link,
  .navbar-f a:visited,
  .navbar-f a:hover,
  .navbar-f a:active {
    color: #fff; }

a.brand {
  font-family: "Quattrocento Sans"; }
  @media only screen and (max-width: 767.98px) {
    a.brand {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 768px) {
    a.brand {
      font-size: 3rem; } }

.nav-links a {
  font-weight: inherit; }

#mobile-menu {
  flex-grow: 1;
  padding: 24px 20px;
  min-height: 80px; }
  #mobile-menu .nav-links {
    padding-left: 48px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center; }
    #mobile-menu .nav-links a {
      display: block;
      min-height: 80px;
      line-height: 80px;
      font-size: 2rem; }
  @media only screen and (min-width: 768px) {
    #mobile-menu {
      display: none; } }

#desktop-menu .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  #desktop-menu .nav-links > li {
    font-size: 1.25rem;
    margin-left: 30px; }

@media only screen and (max-width: 767.98px) {
  #desktop-menu {
    display: none; } }

#hamb-icon {
  float: right;
  position: relative;
  width: 48px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#hamb-icon span {
  display: block;
  position: absolute;
  height: 6.4px;
  width: 100%;
  background: #fff;
  border-radius: 6.4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamb-icon span:nth-child(1) {
  top: 0px; }

#hamb-icon span:nth-child(2),
#hamb-icon span:nth-child(3) {
  top: 12.8px; }

#hamb-icon span:nth-child(4) {
  top: 25.6px; }

#hamb-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#hamb-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#hamb-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#hamb-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.page {
  text-align: center; }
  .page a {
    font-weight: bold; }
  @media only screen and (max-width: 767.98px) {
    .page {
      margin: 20px 0; } }
  @media only screen and (min-width: 768px) {
    .page {
      margin: 40px 20px; } }

.hero {
  background: center no-repeat white;
  background-size: cover;
  background-image: url("../images/30093161307_3301b46951_o_2000x1333.jpg"); }
  @media only screen and (max-width: 767.98px) {
    .hero {
      padding: 80px 0;
      height: 75vh; } }
  @media only screen and (min-width: 768px) {
    .hero {
      padding: 5vw 2rem;
      height: 800px;
      height: 100vh; } }

.greeting {
  background-color: rgba(255, 255, 255, 0.698);
  text-align: center;
  margin: 0 auto; }
  .greeting p {
    font-family: "Quattrocento Sans";
    font-weight: 400;
    color: black; }
    @media only screen and (max-width: 767.98px) {
      .greeting p {
        font-size: 1.25rem; } }
    @media only screen and (min-width: 768px) {
      .greeting p {
        font-size: 1.4rem; } }
  .greeting .btn-cta {
    padding: .5rem .75rem; }
    @media only screen and (max-width: 767.98px) {
      .greeting .btn-cta {
        width: 200px;
        font-size: 1.18rem;
        margin: 10px auto 10px auto; }
        .greeting .btn-cta img {
          height: 40px;
          margin-left: 10px;
          margin-right: -5px; } }
    @media only screen and (min-width: 768px) {
      .greeting .btn-cta {
        width: 220px;
        font-size: 1.3rem;
        margin: 20px auto 10px auto; }
        .greeting .btn-cta img {
          height: 45px;
          margin-left: 10px;
          margin-right: -5px; } }
  @media only screen and (max-width: 767.98px) {
    .greeting {
      width: 100%;
      padding: 30px 30px;
      border-radius: 0; } }
  @media only screen and (min-width: 768px) {
    .greeting {
      width: 80%;
      max-width: 992px;
      padding: 30px 40px;
      border-radius: 10px; } }

.growers-g {
  display: grid; }
  @media only screen and (max-width: 767.98px) {
    .growers-g {
      grid-template-columns: 1fr;
      grid-gap: 50px; }
      .growers-g .card-hero {
        min-width: 100%;
        height: 160px;
        object-fit: cover;
        object-position: 50% 50%; } }
  @media only screen and (min-width: 768px) {
    .growers-g {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5vw; } }
  @media only screen and (min-width: 1200px) {
    .growers-g {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1.5vw; } }
  .growers-g .card {
    text-align: center; }
    .growers-g .card a {
      color: #1a1a1a; }
    .growers-g .card p {
      margin: 0; }
    @media only screen and (max-width: 767.98px) {
      .growers-g .card {
        border-bottom: 1px solid #d9d9d9; } }
    @media only screen and (min-width: 768px) {
      .growers-g .card {
        border: 1px solid #d9d9d9;
        border-radius: 5px; } }
  .growers-g .card-details-g {
    display: grid; }
    @media only screen and (max-width: 767.98px) {
      .growers-g .card-details-g {
        width: 95%;
        max-width: 600px;
        margin: 10px auto;
        grid-template-columns: repeat(7, 1fr) 4fr; }
        .growers-g .card-details-g > * {
          align-self: center; }
        .growers-g .card-details-g *:nth-child(1) {
          order: 1;
          grid-column: 1/8;
          justify-self: start;
          text-align: left; }
        .growers-g .card-details-g *:nth-child(2) {
          order: 3;
          justify-self: start; }
        .growers-g .card-details-g *:nth-child(3) {
          order: 2;
          justify-self: end; }
        .growers-g .card-details-g *:nth-child(4) {
          order: 4;
          grid-column: 5/-1;
          justify-self: end; }
        .growers-g .card-details-g p {
          font-size: 0.9rem; }
        .growers-g .card-details-g h2 {
          margin: 0; }
        .growers-g .card-details-g img {
          width: 10vw;
          min-width: 100px;
          max-width: 150px; }
        .growers-g .card-details-g .btn-general {
          font-size: 0.9rem;
          width: 135px; } }
    @media only screen and (min-width: 768px) {
      .growers-g .card-details-g {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin: 10px 0 20px 0; }
        .growers-g .card-details-g > * {
          justify-self: center; }
        .growers-g .card-details-g *:nth-child(1) {
          order: 1; }
        .growers-g .card-details-g *:nth-child(2) {
          order: 2; }
        .growers-g .card-details-g *:nth-child(3) {
          order: 3; }
        .growers-g .card-details-g *:nth-child(4) {
          order: 4; }
        .growers-g .card-details-g img {
          display: block;
          margin: 0 auto;
          width: 12vw;
          min-width: 100px;
          max-width: 140px; }
        .growers-g .card-details-g .btn-general {
          width: 135px; } }
  .growers-g .card-hero {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%; }
    @media only screen and (max-width: 767.98px) {
      .growers-g .card-hero {
        height: 160px; } }

.page.show-entry {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 4vw;
  text-align: left; }
  .page.show-entry main {
    margin: 30px 0; }
  .page.show-entry header img {
    margin: 20px 0;
    max-width: 100%; }

.show-details-g {
  display: grid;
  grid-column-gap: 10px; }
  .show-details-g .meta {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    font-size: 0.85rem; }
  .show-details-g .buttons {
    margin-top: 10px;
    text-align: right; }

#comments {
  margin-bottom: 20px; }
  #comments h1 {
    font-size: 2rem;
    border-bottom: 1px solid #d9d9d9; }

.comment-g {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  .comment-g .buttons > * {
    display: inline-block; }

.comment-owner {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 15px; }

.comment-text {
  font-size: 1.2rem; }

.page.about {
  text-align: left;
  margin: 40px 20px; }

.colophon {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #346732;
  color: whitesmoke; }
  .colophon > * {
    margin: auto; }

/*# sourceMappingURL=style.css.map */
